<% flash.each do |key, value| %>
  <div class="flash" id="<%= key %>">
    <%= value %>
  </div>
<% end %>
<%= simple_form_for :comment, url: comments_path(thing_type, en_url(thing_id)) do |f| %>
  <div class="form-group">
    <%= f.input :email, placeholder: "Email của bạn",
    input_html: { class: "form-control" } %>
  </div>
  <div class="form-group">
    <%= f.input :name, placeholder: "Tên của bạn",
    input_html: { class: "form-control" } %>
  </div>
  <div class="form-group">
    <%= f.input :body, placeholder: "Nội dung bình luận...", as: :text,
    input_html: { class: "form-control", rows: "10" } %>
  </div>
  <%= f.submit "Đăng", class: "btn btn-default" %>
<% end %>
