<div class="thumbnail">
  <%= image_tag service.image.url(:medium) %>
  <div class="caption">
    <h3><%= service.name %></h3>
    <p class="price"><%= get_price(service.price) %></p>
    <p><%= service.description.html_safe %></p>
    <p><a href="<%= dich_vu_short_path(en_url(service.name)) %>" class="btn btn-success" role="button">Xem</a></p>
  </div>
</div>
