<div class="row article">
  <div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6 text">
      <h2><%= link_to article.title, tin_tuc_show_path(article) %></h2>
      <p class="author">Đăng bởi: <%= article.user.name %>, <%= time_ago_in_words(article.created_at) %> trước</p>
    </div>
    <div class="col-sm-3"></div>
  </div>
  <div class="image">
    <%= image_tag article.image.url(:medium) %>
  </div>
  <div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6 text">
      <p><%= article.description %></p>
      <p><a href="<%= tin_tuc_show_path(article) %>">Đọc tiếp</a></p>
    </div>
    <div class="col-sm-3"></div>
  </div>
</div>
