<% content_for :title, title %>

<div class="homepage jumbotron">

  <div class="container">
    <h1>HỆ THỐNG SỬA IPHONE Dr.TÁO</h1>
    <p>Cam kết sử dụng linh kiện chính hãng, thực hiện sửa chữa trực tiếp, khách hàng ngồi chờ lấy liền, bảo hành trọn đời.</p>
    <p><a class="btn btn-success btn-lg" href="<%= dich_vu_path %>" role="button">SỬA NGAY</a></p>
  </div>

</div>

<div class="container-fluid">

  <div class="container">

    <h2>Ép kính iPhone</h2>
    <div class="products">
      <div class="row">
        <% @ep_kinh_iphone_services.each do |service| %>
          <div class="col-md-3">
            <%= render 'partials/service', service: service %>
          </div>
        <% end %>
      </div>
    </div>

    <h2>Sửa iPhone</h2>
    <div class="products">
      <div class="row">
        <% @sua_iphone_services.each do |service| %>
          <div class="col-md-3">
            <%= render 'partials/service', service: service %>
          </div>
        <% end %>
      </div>
    </div>

    <h2>iPhone mới</h2>
    <div class="products">
      <div class="row">
        <% @iphone_moi_products.each do |product| %>
          <div class="col-md-3">
            <%= render 'partials/product', product: product %>
          </div>
        <% end %>
      </div>
    </div>

    <h2>iPhone cũ</h2>
    <div class="products">
      <div class="row">
        <% @iphone_cu_products.each do |product| %>
          <div class="col-md-3">
            <%= render 'partials/product', product: product %>
          </div>
        <% end %>
      </div>
    </div>

  </div>

  <div class="news-section">
    <div class="row">
      <div class="col-md-3 sidebar">
        <h1>Tin tức</h1>
        <p>Những tin tức công nghệ chọn lọc mới nhất</p>
      </div>
      <div class="col-md-9 articles">
        <% @articles.each do |article| %>
          <%= render 'partials/article', article: article %>
        <% end %>
        <a class="read_more" href="<%= tin_tuc_path %>">
          ĐỌC THÊM
        </a>
      </div>
    </div>
  </div>

</div>
