<div class="search page">

  <% content_for :title, title('TÌM KIẾM') %>

  <div class="homepage jumbotron">

    <div class="container">
      <h1>TÌM KIẾM</h1>
      <p>Các sản phẩm với từ khóa "<%= @term %>"</p>
    </div>

  </div>

  <% if @total.count > 0 %>
    <div class="container">
      <p class="count">
        <%= @total.count %> kết quả với từ khóa "<%= @term %>"
      </p>
      <% if @products.count > 0 %>
        <h2>Sản phẩm</h2>
        <% @products_array.each do |group| %>
          <div class="row">
            <% group.each do |product| %>
              <% if product %>
                <div class="col-md-3">
                  <%= render 'partials/product', product: product %>
                </div>
              <% end %>
            <% end %>
          </div>
        <% end %>
      <% end %>
      <% if @services.count > 0 %>
        <h2>Dịch vụ</h2>
        <% @services_array.each do |group| %>
          <div class="row">
            <% group.each do |service| %>
              <% if service %>
                <div class="col-md-3">
                  <%= render 'partials/service', service: service %>
                </div>
              <% end %>
            <% end %>
          </div>
        <% end %>
      <% end %>
      <% if @parts.count > 0 %>
        <h2>Linh kiện</h2>
        <% @parts_array.each do |group| %>
          <div class="row">
            <% group.each do |part| %>
              <% if part %>
                <div class="col-md-3">
                  <%= render 'partials/part', part: part %>
                </div>
              <% end %>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
  <% else %>
    <div class="container">
      <p class="count">
        Không tìm được kết quả nào với từ khóa "<%= @term %>"
      </p>
    </div>
  <% end %>

</div>
