<% content_for :title, title('GIỎ HÀNG') %>

<div class="news show page">

  <div class="homepage jumbotron">

    <div class="container">
      <h1>GIỎ HÀNG</h1>
    </div>

  </div>

  <div class="container-fluid">
    <div class="container">

      <% flash.each do |key, value| %>
        <%= content_tag :div, value, class: "alert alert-#{key}" %>
      <% end %>

      <% if @count > 0 %>
        Hiện có <%= @count %> sản phẩm trong giỏ hàng của bạn.

        <table class="table">
          <thead>
            <tr>
              <th>Tên</th>
              <th>Giá</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @cart.line_items.each do |item| %>
              <%= render 'line_items/line_item', item: item %>
            <% end %>
          </tbody>
        </table>

        <p><b>Tổng cộng:</b> <%= get_price(@cart.total_price) %></p>

        <%= simple_form_for :order, url: orders_path do |f| %>
          <div class="field">
            <%= f.input :name, placeholder: "Tên", input_html: { class: "form-control" } %>
            <%= f.input :email, placeholder: "Email", input_html: { class: "form-control" } %>
            <%= f.input :address, placeholder: "Địa Chỉ", input_html: { class: "form-control" } %>
          </div>
          <%= f.submit "Đặt hàng", class: "btn btn-success" %>
        <% end %>
      <% else %>
        Giỏ hàng trống.
      <% end %>
    </div>
  </div>

</div>
